<!doctype html>
<html lang="en">
    <head>
        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <title>Codeforces Helper</title>
        <!-- Material-Bootstrap CSS -->
        <link rel="stylesheet" href="/stylesheets/material-kit.min.css">
    </head>
    <body>
        <% if(typeof error !== 'undefined'){ %>
            <h1><%= error %></h1>
            Please Retry.
        <% }else{ %>
        <nav class="rounded-0 navbar navbar-expand-lg bg-primary fixed-top">
            <div class="container">
                <div class="navbar-translate">
                    <a class="navbar-brand" href="/">
                        Codeforces Helper
                    </a>
                </div>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
                    <ul class="navbar-nav ml-auto">
                        <li class="active nav-item">
                            <a class="nav-link" href="/compare">Compare<span class="sr-only">(current)</span></a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/vc_picker">Virtual Contest Picker</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/stats">Statistics</a>
                        </li    
                    </ul>
                </div>
            </div>
        </nav>
        <div class="page-header">
        </div>
        <div class="main main-raised">
            <div class="section">
                <div class="container">
                    <div class="title">
                        <h2>Result</h2>
                    </div>
                    <table class="table table-hover">
                        <thead class="thead-dark">
                            <tr>
                                <th class="text-cente">Problem Id</th>
                                <th>Problem Name</th>
                                <th class="text-cente">ACs</th>
                            </tr>
                        </thead>
                        <tbody>
                            <% both.forEach(function(data){%>
                            <tr>
                                <td class="text-cente"> <a href="https://codeforces.com/problemset/problem/<%= data.contestId %>/<%= data.index %>"><%= `${data.contestId}${data.index}`; %></a> </td>
                                <td> <a href="https://codeforces.com/problemset/problem/<%= data.contestId %>/<%= data.index %>"><%= data.name %></a> </td>
                                <td class="text-cente"> <%= data.solvedCount %> </td>
                            </tr>
                            <% }); %>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <footer class="footer">
            <div class="container">
                <nav class="float-left">
                    <ul>
                        <li>
                        <a href="https://codeforces.com">
                            Codeforces
                        </a>
                        </li>
                        <li>
                        <a href="https://ototot.tk">
                            About Me
                        </a>
                        </li>
                        <li>
                        <a href="https://github.com/oToToT/CF_Helper">
                            GitHub
                        </a>
                        </li>
                    </ul>
                </nav>
            </div>
        </footer>
        <% } %>
        <!-- jQuery first, then Popper.js, then Bootstrap JS -->
        <script src="/javascripts/jquery.min.js"></script>
        <script src="/javascripts/popper.min.js"></script>
        <script src="/javascripts/bootstrap-material-design.min.js"></script>
        <!-- Optional JavaScript -->
        <script src="/javascripts/material-kit.min.js"></script>
    </body>
</html>